/* styles.css */

/* Customize the navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for result cards */
  .card {
    margin-bottom: 20px;
  }
  
  #results {
    margin-top: 30px;
  }
  